<div class="col-md-offset-1 col-md-2">
 <p class="filtre-tri">{{ knp_pagination_sortable(illustrateur, 'Nom', 'p.nomIllustrateur') }} </p>
</div> 

<div class="col-md-offset-1 col-md-2">
  <p class="filtre-tri"> {{ knp_pagination_sortable(illustrateur, 'Prénom', 'p.prenom') }}</p>
</div>
