<footer class="white-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wow">
        <span class="copyright">
          © {{ 'now'|date('Y') }} ~ L'atelier Colo ~
        </span>
      </div>
    </div>
  </div>
</footer>