<div class="col-xs-5">
  <p class="filtre-tri-livre">{{ knp_pagination_sortable(livre, 'Titre du Livre', 'p.titreLivre') }}</p>
</div>
<div class="col-xs-3">
  <p class="filtre-tri-livre">{{ knp_pagination_sortable(livre, 'Illustrateur', 'i.prenom') }}</p>
</div>
<div class="col-xs-4">
 <p class="filtre-tri-livre"> {{ knp_pagination_sortable(livre, 'Date de Sortie', 'p.dateSorti') }}</p>
</div>
